
:80 {

   
    # Proxy pour Facebook AUTH
    handle /api/profil/facebook/* {
          reverse_proxy profil:8081
    }

    
    # Proxy API
    handle /api/* {
    reverse_proxy orchestre:8080
    }

    # Proxy frontend
    #handle /* {
    #     reverse_proxy webapp:5173
    #}

        
    handle /* {
        root * /usr/share/caddy
        file_server
        try_files {path} /index.html
    }
}

