

:80 {

    # Proxy pour Facebook AUTH
    handle /api/profil/* {
        reverse_proxy profil:8081
    }

  

    # Proxy pour workflow général
    handle /api/workflow/* {
        reverse_proxy orchestre:8080
    }
    

    handle {
        reverse_proxy webapp-interactive:4200
    }
    
}