<div class="dashboard-container">
  <app-cart
    [cartItems]="cartItems"
    [books]="books"
    (changeQuantityItemEvent)="changeQuantityFromCart($event.bookId, $event.quantity)"
    (paymentEvent)="payment()"
    (cartUpdated)="onCartUpdated($event)"
    class="floating-cart">
  </app-cart>

  <h2>Books List</h2>
  <div class="books-list">
    @for (book of books; track book.id) {
      <app-book-card
        [book]="book"
        [updatedItemAfterPayment]="cartItemsMap.get(book.id)"
        [updatedItemBeforePayment]="getUpdatedItemBeforePayment(book.id)"
        (addToCart)="addToCart({
          bookId: $event.bookId,
          quantity: $event.quantity,
          price: $event.price,
          title: $event.title
        })">
      </app-book-card>
    }
  </div>

  @if (books.length === 0) {
    <p>No books found.</p>
  }

  <mat-divider style="margin: 24px 0;"></mat-divider>

  <div class="logout-container">
    <app-logout></app-logout>
  </div>
</div>














<!--<div class="dashboard-container">-->
<!--  <app-cart-->
<!--    [books]="books"-->
<!--    (changeQuantityItemEvent)="changeQuantityFromCart($event.bookId, $event.quantity)"-->
<!--    (paymentEvent)="payment()"-->
<!--    class="floating-cart">-->
<!--  </app-cart>-->

<!--  <h2>Books List</h2>-->
<!--  <div class="books-list">-->
<!--    @for (book of books; track book.id) {-->
<!--      <app-book-card-->
<!--        [book]="book"-->
<!--        (addToCart)="addToCart({-->
<!--          bookId: $event.bookId,-->
<!--          quantity: $event.quantity,-->
<!--          price: $event.price,-->
<!--          title: $event.title-->
<!--        })">-->
<!--      </app-book-card>-->
<!--    }-->
<!--  </div>-->

<!--  @if (books.length === 0) {-->
<!--    <p>No books found.</p>-->
<!--  }-->

<!--  <mat-divider style="margin: 24px 0;"></mat-divider>-->

<!--  <div class="logout-container">-->
<!--    <app-logout></app-logout>-->
<!--  </div>-->
<!--</div>-->

