<div style="max-width: 640px; margin: auto;">
  <mat-card class="add-book-card" style="padding:16px; border-radius:16px;">
    <mat-card-title style="text-align:center;">Add a Book</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="addBook()" #bookForm="ngForm">

        <!-- ISBN -->
        <mat-form-field appearance="outline" style="width:48%; margin:4px;">
          <mat-label>ISBN</mat-label>
          <input matInput name="isbn" [(ngModel)]="newBook.isbn" required>
        </mat-form-field>

        <!-- Title -->
        <mat-form-field appearance="outline" style="width:48%; margin:4px;">
          <mat-label>Title</mat-label>
          <input matInput name="title" [(ngModel)]="newBook.title" required>
        </mat-form-field>

        <!-- Quantity  -->
        <mat-form-field appearance="outline" style="width:30%; margin:4px;">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" name="quantity" [(ngModel)]="newBook.quantity" required>
        </mat-form-field>

        <!-- Price  -->
        <mat-form-field appearance="outline" style="width:30%; margin:4px;">
          <mat-label>Price ($)</mat-label>
          <input matInput type="number" step="0.01" name="price" [(ngModel)]="newBook.price" required>
        </mat-form-field>

        <!-- Editor  -->
        <mat-form-field appearance="outline" style="width:34%; margin:4px;">
          <mat-label>Editor</mat-label>
          <mat-select name="publisherId" [(ngModel)]="newBook.publisherId" required>
            @for (pub of publishers; track pub.id){
              <mat-option [value]="pub.id">{{ pub.name }}</mat-option>
            }
            <mat-button-toggle class="add-new-option" (click)="addPublisher()">
              <mat-icon style="vertical-align: middle; color:white; background-color:#4caf50; border-radius:50%; padding:2px;">add</mat-icon>
              <span style="margin-left:4px; color:#4caf50;">Add new</span>
            </mat-button-toggle>
          </mat-select>
        </mat-form-field>




        <!-- Divider -->
        <mat-divider style="margin:16px 0;"></mat-divider>

        <!-- Release date -->
        <mat-form-field appearance="outline" style="width:48%; margin:4px;">
          <mat-label>Date de parution</mat-label>
          <input matInput
                 name="parutionDate"
                 [(ngModel)]="newBook.parutionDate"
                 required
                 #parutionDate="ngModel"
                 pattern="^\d{4}-\d{2}-\d{2}$"
                 placeholder="aaaa-mm-jj" />
          @if ((parutionDate.invalid || !isValidDate(newBook.parutionDate)) && parutionDate.touched) {
            <div style="color:red; font-size:12px; margin-top: 5px;">
              aaaa-mm-jj (ex: 2023-12-31)
            </div>
          }
        </mat-form-field>


        <!-- Authors -->
        <mat-form-field appearance="outline" style="width:48%; margin:4px;">
          <mat-label>Authors</mat-label>
          <mat-select name="authorNames" [(ngModel)]="newBook.authorNames" multiple required>
            @for (author of authors; track author.id){
              <mat-option [value]="author.name">{{ author.name }}</mat-option>
            }
            <mat-button-toggle class="add-new-option" (click)="addAuthor()">
              <mat-icon style="vertical-align: middle; color:white; background-color:#4caf50; border-radius:50%; padding:2px;">add</mat-icon>
              <span style="margin-left:4px; color:#4caf50;">Add new</span>
            </mat-button-toggle>
          </mat-select>
        </mat-form-field>


        <!-- Categories -->
        <mat-form-field appearance="outline" style="width:48%; margin:4px;">
          <mat-label>Category</mat-label>
          <mat-select name="categoryNames" [(ngModel)]="newBook.categoryNames" multiple required>
            @for (cat of categories; track cat.id){
              <mat-option [value]="cat.name">{{ cat.name }}</mat-option>
            }
            <mat-button-toggle class="add-new-option" (click)="addCategory()">
              <mat-icon style="vertical-align: middle; color:white; background-color:#4caf50; border-radius:50%; padding:2px;">add</mat-icon>
              <span style="margin-left:4px; color:#4caf50;">Add new</span>
            </mat-button-toggle>
          </mat-select>
        </mat-form-field>


        <mat-divider style="margin:16px 0;"></mat-divider>

        <!-- Description -->
        <mat-form-field appearance="outline" style="width:100%; margin:4px;">
          <mat-label>Description</mat-label>
          <textarea matInput rows="3" name="description" [(ngModel)]="newBook.description" required></textarea>
        </mat-form-field>

        <!-- Divider avant boutons -->
        <mat-divider style="margin:16px 0;"></mat-divider>

        <!-- Buttons -->
        <div style="display:flex; justify-content:center; gap:12px;">
          <button mat-raised-button color="primary" type="submit" [disabled]="bookForm.invalid">
            <mat-icon>add</mat-icon> Add
          </button>
          <button mat-button type="button" (click)="resetForm()">Reset</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

  <mat-divider style="margin:16px 0;"></mat-divider>

  <button mat-raised-button
          (click)="goBackToAdminMenu()"
          style="width: 100%; color: red; margin-bottom: 16px;">
    ← Back to Admin Menu
  </button>
</div>

